@import url('navbar.css');
@import url('header.css');
@import url('feature.css');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "DM Serif Text", serif;
  font-family: "Tinos", serif; */
  --main-font:"DM Serif Text", serif;
  --second-font:"Tinos", serif;
  --main-color: #ed2027;
  --feature-color: #198754;
  --for-sale-color: rgba(11, 33, 50, 0.4);
  --white-color: #fff;
  --font-black: black;
  --grey-font :#5c6368;
}


/* Header */
